<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Entrar</title>

    <!-- Bootstrap Core CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" href="../../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom CSS -->
    <link th:href="@{/css/style.css}" href="../../static/css/style.css" rel="stylesheet" />

    <!-- Custom Fonts -->
    <link th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" href="../../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

    <style>
        body{
            color:#555;
            text-shadow: -4px 3px 11px #fff;
            background: url('/images/overlay.png') no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <br>
                <br>
                <h1 class="text-center" style="font-size:75px;">Corbus</h1>
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">Acesso Restrito</h3>
                    </div>
                    <div class="panel-body">
                        <p th:if="${loginError}" class="text-danger text-center">Usuário ou senha inválido</p>
                        <form role="form" th:action="@{/auth}" method="post">
                            <fieldset>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="username" name="username" autofocus="autofocus" />
                                </div>
                                <div class="form-group">
                                    <input type="password"  class="form-control" id="password" name="password" />
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input name="remember-me" type="checkbox" value="true"/>Lembrar-me
                                    </label>
                                </div>
                                <!-- Change this to a button or input when using this as a form -->
                                <input type="submit" class="btn btn-primary btn-block" value="Entrar" />
                            </fieldset>
                            <br>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script th:src="@{/vendor/jquery/jquery.min.js}" src="../../static/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script th:src="@{vendor/bootstrap/js/bootstrap.min.js}" src="../../static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script th:src="@{vendor/metisMenu/metisMenu.min.js}" src="../../static/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script th:src="@{js/sb-admin-2.js}" src="../../static/js/script.js"></script>

</body>

</html>
