body{
  background-color: #dedede;
}
.navbar-corbus {
	background-color:#536fe0;
    color:#ffffff;
  	border-radius:0;
}
  
.navbar-corbus .navbar-nav > li > a {
  	color:#fff;
  	padding-left:20px;
  	padding-right:20px;
}
.navbar-corbus .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
  background-color: #4d5bdb;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
  color:#fff;
  background-color: #4d5bdb;

}
.navbar-corbus .navbar-brand {
  color:#fff;
}
.dropdown-header{
  color:#eee;
}
.navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.open>a:hover{
  background-color: #8189d6;
}

.navbar-corbus .navbar-nav > li > a:hover, .nav > li > a:focus, .navbar-corbus .navbar-nav .open>a  { 
  background-color: #4d5bdb;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover,
.navbar-corbus .navbar-nav > li > a:hover{
  color:#fff;
}
     
/* dropdown */
.navbar-corbus .navbar-nav .dropdown-menu  { 
  background-color: #fff;
}
.navbar-corbus .navbar-nav .dropdown-menu>li>a  { 
  color: #222;
}
.navbar-corbus .navbar-toggle {
  	background-color:#222;
}
.navbar-corbus .icon-bar {
  	background-color:#fff;
}


.buttons{
  margin-top: 15px;
}
.card-4 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

