.navbar-corbus {
	background-color:#536fe0;
    color:#ffffff;
  	border-radius:0;
}
  
.navbar-corbus .navbar-nav > li > a {
  	color:#fff;
  	padding-left:20px;
  	padding-right:20px;
}
.navbar-corbus .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
  background-color: #4d5bdb;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
  color:#fff;
  background-color: #4d5bdb;

}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
  background-color: rgba(255,255,255,0.35);
  color:#eee!important;
}
.dropdown-header{
  color:#eee;
}
.navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.open>a:hover{
  background-color: #8189d6;
}

.navbar-corbus .navbar-nav > li > a:hover, .nav > li > a:focus, .navbar-corbus .navbar-nav .open>a  { 
  background-color: #4d5bdb;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover,
.navbar-corbus .navbar-nav > li > a:hover{
  color:#fff;
}
     
/* dropdown */
.navbar-corbus .navbar-nav .dropdown-menu  { 
  background-color: #536fe0;
}
.navbar-corbus .navbar-nav .dropdown-menu>li>a  { 
  color: #fff;
}
.navbar-corbus .navbar-nav .dropdown-menu>li>a:hover,.navbar-corbus .navbar-nav .dropdown-menu>li>a:focus  { 
  color: #364fb3;
}
      
.navbar-corbus .navbar-brand {
  	color:#eeeeee;
}
.navbar-corbus .navbar-toggle {
  	background-color:#eeeeee;
}
.navbar-corbus .icon-bar {
  	background-color:#364fb3;
}